.color_a {
  color: $color_primary_a !important;
}

.color_b {
  color: $color_primary_b !important;
}

.color_blue {
  color: $color_primary_a !important;
}

.color_green {
  color: $color_primary_b !important;
}

.color_dark {
  color: $color_primary_c !important;
}

.color_darky {
  color: $color_primary_d !important;
}

.color_white {
  color: #fff !important;
}

.color_black {
  color: #000 !important;
}

.color_grayblue {
  color: #47556b !important;
}

.color_noble-blue {
  color: #242d3a !important;
}


.bg-color_white {
  background-color: #fff !important;
}
.bg-color_light-gray {
  background-color: #eef0f4 !important;
}

.bg-color_black {
  background-color: #000 !important;
}

.bg-color_blue {
  background-color: $color_primary_a !important;
}

.bg-color_green {
  background-color: $color_primary_b !important;
}

.bg-color_dark {
  background-color: $color_primary_c !important;
}

.bg-color_dark-transparent {
  background-color: rgba(36,45,58, .85) !important;
}

.bg-color_transparent {
  background-color: transparent;
}

.bg-color_darky {
  background-color: $color_primary_d !important;
}

.bg-color_grayblue {
  background-color: #47556b !important;
}

.bg-color_noble-blue {
  background-color: #242d3a !important;
}

.bg-color_noble-blue-85 {
  background-color: rgba(36,45,58, .85) !important;
}
