// GONNA USE BEM METHODOLOGY //

// @import "/assets/style/themes/default/css/fonts/robotonew/font.css";

// @import "bem/smooth-scroll.scss"; // required to be here


/* =============================== */
/* ====== .theme-default ========= */
/* =============================== */

.theme-default {

  /* === THEME GLOBALS SETTINGS === */

  @import "normalize.scss"; /* do this in final compilation */

  /* settings etc */
  @import "vars.scss";
  @import "mixins.scss";
  @import "colors.scss";
  
  @import "general.scss";
  @import "offsets.scss";
  @import "text.scss";
  
  /* top nav bar */
  @import "bem/top-nav-bar.scss";
  @import "bem/tnb-top.scss";
  // @import "bem/tnb-menu.scss";
  @import "bem/tnb-menu-2.scss";
  @import "bem/breadcrumbs.scss";
  
  /* content & etc*/
  
  @import "bem/row-section.scss";
  // @import "bem/col-section.scss";
  @import "bem/row-flex.scss";
  @import "bem/fab-menu.scss";
  @import "bem/menustarter-btn.scss";
  
  @import "bem/glossary.scss";
  
  @import "bem/staff-card.scss";
  @import "bem/person-card.scss";
  @import "bem/tile-menu.scss";
  @import "bem/tile-cards.scss";
  
  /* footer */
  @import "bem/footer.scss";
  
  @import "bem/success-stories.scss";
  
  @import "bem/form.scss";
  
  @import "bem/admin_elements.scss";

  @import "bem/video-blocks.scss";


  // @include div_default;
  @include placeholder;
  @include selection;


  display: block;
  position: relative;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: default;
  text-align: left;
  overflow: auto;

  // background-color: $color_primary_c;
  background-color: #fff;
  color: $color_primary_d;

  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  font-style: $font-style-default;

  /* === OUTLINE === */
  *,*:hover, *:focus, *:visited  {
    outline-style: none;
  }

  /* === LINKS STYLE === */
  a, a:hover, a:focus, a:visited  {
    text-decoration: none;
    color: inherit;
  }





  // @import "bem/text.scss";

  // @import "bem/bg.scss";

  // @import "bem/sitewrapper.scss";

  // @import "bem/extratop.scss";
  // @import "bem/top.scss";
  // @import "bem/top-nav-bar.scss";
  // @import "bem/footer.scss";
  // @import "bem/content.scss";
  // @import "bem/bottom.scss";
  // @import "bem/input.scss";
  // @import "bem/buttons.scss";
  // @import "bem/breadcrumbs.scss";
  // @import "bem/table-admin.scss";

  // @import "bem/g-recaptcha.scss";

  // @import "bem/jux/jux-checkbox.scss";
  // @import "bem/jux/jux-select.scss";
  //@import "bem/jux/jux-input.scss";


  // @import "bem/h1-title-short.scss";


  // @import "particulars.scss";
  // @import "bem/color-table.scss";

  // @import "bem/admin.scss";

  // temps
  // @import "bem/temp-top-menu.scss";


}