// === FONTS ===

//@import "/assets/css/fonts/robotonew/font.css";

/*
$font-family-default:'robotolight', sans-serif;
$font-size-default: 15px;
$line-height-default:  auto;
$font-weight-default: normal; // but see in font specificationss. It can be values 300, normal, 300, 400 or something…
$font-style-default: normal;
*/

$font-family-default: Arial, Helvetica, sans-serif;
$font-size-default: 14px;
$line-height-default:  auto;
$font-weight-default: normal;
$font-style-default: normal;