.site-wrapper {
  @include div_default;
  width: 100%;
  max-width: 100%;
  min-width: inherit;
  background-color: #fff;
}

.container {
  @include container($width_content_range);
}

.container-fluid-ranged {
  @include container($width_max_range);
}

.container-fluid {
  @include container(100%);
}

.block-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.block-left {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.block-right {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.content {
  @include div_default;
  //border: 1px dashed red;
}

.bg-cover {
  @include bg-cover;
}

.bg-fixed {
  @include bg-fixed;
}

.bg-cover-top-full {
  @include container(100%);
  @include bg-cover;
}

.top-img-bordered-blue {
  //border-top: 5px solid $color_primary_a;
  border-bottom: 5px solid $color_primary_a;
}

.bg_index-page {
  background-image: url("/assets/uploads/main.jpg");
}
.bg_env-glossary {
  background-image: url("/assets/uploads/environment_glossary.jpg");
}
.bg_contact-us {
  background-image: url("/assets/themes/default/img/pages/contact-us/contact-us.jpg");
}
.bg_civil-engineering_main {
  background-image: url("/assets/uploads/pages/civil-engineering/main.jpg");
}
.bg_env-glossary-static {
  background-image: url("/assets/uploads/environmental_glossary_static.jpg");
}
.bg_what-sets-us-apart {
  background-image: url("/assets/uploads/what_sets_us_apart.jpg");
}
.bg_sediment-and-erosion-control {
  background-image: url("/assets/themes/default/img/pages/environment/tile-menu_sediment-erosion-control.jpg");
}
.bg_our-strenghts-experience {
  background-image: url("/assets/uploads/our-strengths-experience.jpg");
}
// SUCCESS STORIES
.bg_success-stories {
  background-image: url("/assets/uploads/success_stories.jpg");
}
// LAND USE PLANNING
.bg_land-use-planning {
  background-image: url("/assets/uploads/land_use_planning.jpg");
}
.bg_land-use-planning-main {
  //background-image: url("/assets/themes/default/img/pages/land-use-planning/main.jpg");
  background-image: url("/assets/uploads/highest-and-best-use-analysis/study-process.jpg");
}
.bg_project-management {
  background-image: url("/assets/themes/default/img/pages/land-use-planning/tile-menu_pm.jpg");
}
.bg_land-development-and-approvals {
  background-image: url("/assets/themes/default/img/pages/land-use-planning/tile-menu_lda.jpg");
}
.bg_land-development-services {
  background-image: url("/assets/themes/default/img/pages/land-use-planning/land-development-and-approvals/land-dev-services.jpg");
}
.bg_public-consultation {
  background-image: url("/assets/themes/default/img/pages/land-use-planning/tile-menu_pc2.jpg");
}
.bg_highest-and-best-use-analysis-main {
  background-image: url("/assets/uploads/highest-and-best-use-analysis/main.jpg");
}
.bg_expropriation-acquisition-disposition-main {
  background-image: url("/assets/uploads/expropriation-acquisition-disposition/main.jpg");
}
.bg_study-process {
  background-image: url("/assets/uploads/highest-and-best-use-analysis/study-process.jpg");
}
.bg_study-process-ead {
  background-image: url("/assets/uploads/expropriation-acquisition-disposition/study-process.jpg");
}
// ENVIRONMENT
.bg_environment-a {
  background-image: url("/assets/uploads/pages/environment/environment.jpg");
}

.bg_environment-environmental-assessments {
  background-image: url("/assets/uploads/pages/environment/environmental-assessments.jpg");
}

.bg_environment-permits-and-approvals {
  background-image: url("/assets/uploads/pages/environment/permits-and-approvals.jpg");
}

.bg_environment-environmental-monitoring {
  background-image: url("/assets/uploads/pages/environment/environmental-monitoring.jpg");
}

.bg_environment-case-studies {
  background-image: url("/assets/uploads/pages/environment/case-studies.jpg");
}

.bg_environment-case-studies_spill-response {
  background-image: url("/assets/uploads/pages/environment/case-studies/spill_response.jpg");
}

.bg_environment-case-studies_wildlife-salvage {
  background-image: url("/assets/uploads/pages/environment/case-studies/wildlife_salvage.jpg");
}
.bg_environment-case-studies_fergus-creek {
  background-image: url("/assets/uploads/pages/environment/case-studies/fergus_creek.jpg");
}

.bg_key-benefits {
  background-image: url("/assets/uploads/highest-and-best-use-analysis/key-benefits.jpg");
}
.bg_our-clients{
  background-image: url("/assets/uploads/highest-and-best-use-analysis/our-clients.jpg");
}
.bg_environment {
  background-image: url("/assets/uploads/environment.jpg");
}
// CIVIL ENGINEERING
.bg_civil-engineering {
  background-image: url("/assets/uploads/civil_engineering.jpg");
}
.bg_civil-engineering_engineering-design-construction {
  // background-image: url($img_dir + "/pages/civil-engineering/tile-menu_engineering-design-and-construction.jpg");
  background-image: url("/assets/uploads/pages/civil-engineering/engineering-and-design-construction/main.jpg");
}
.bg_civil-engineering_construction-tendering {
  background-image: url($img_dir + "/pages/civil-engineering/tile-menu_construction-tendering.jpg");
}
.bg_civil-engineering_construction-cost-estimate {
  background-image: url($img_dir + "/pages/civil-engineering/tile-menu_feasibilities-studies.jpg");
}
// LAND SURVEY
.bg_land-survey {
  background-image: url("/assets/uploads/land_survey.jpg");
}

.short-line{
  @include short-line($color_primary_a);
  margin-left: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.short-line-green {
  @include short-line($color_primary_b);
  margin-left: 0;
}
.short-line-blue {
  @include short-line($color_primary_a);
}


.side-offset {
  padding-left: 10px;
  padding-right: 10px;
}

.vertical-offset {
  padding-top: 80px;
  padding-bottom: 80px;
}

.button-like {
  display: inline-block;
  position: relative;
  text-align: inherit;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 2px;
  border-color: $color_primary_d;
  border-style: solid;
  color: $color_primary_d;
  background-color: transparent;
  margin: 20px 0 5px;
  padding: 10px 40px;
  font-weight: $font-weight-bold;
  transition: all $transition_time_short;

  @media only screen and (max-width: $width_xs) {
    font-size: 12px;
    font-weight: $font-weight-normal;
    padding: 8px 25px;
    border-width: 1px;
  }

  &:hover {
    background-color: $color_primary_a;
    color: #fff;
    border-color: $color_primary_a;
  }
}

p {
  .button-like {
    margin: 5px 0;
  }
}

.hidden {
  display: none; 
}

.img-full-width {
  @include div_default;
  @include img;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}



/*
.img {
  @include img;
}

.img_responsive {
  width: 100%;
}

.ol, .ul {
  padding-left: 20px;
  
  li {
    margin-bottom: 4px;
  }
}
*/


/*
html {
  // cursor: url("/images/style/mouse_cursor_default.png"), default;
  cursor: default;

  * {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
}
*/

/*
body {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
  background-color: green;
  color: #333;
  text-align: left;
  //background-image: url($img_dir + "overlays/01.png");


  font: {
    family:$font-family-default;
    weight: $font-weight-default;
    style: $font-style-default;
    size: $font-size-default;
  }

}
*/

/*
hr {
  display: block;
  width: 100%;
  height: 1px;
  border-style: none;
  background-color: #323022;
}
*/

/*
strong {
  font-family: inherit;
  font-weight: normal;
}
*/





