@mixin div_default {
  display:block;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: auto;
  overflow: hidden;
}

@mixin display_flex {
  display:flex;
  display: -webkit-flex; /* Safari */
}


/* === container and container-fluid === */

@mixin container ($w) {
  @include div_default;
  width: 100%;
  max-width: $w;
}


@mixin selection {
  ::selection {
    color: orange;
    background: #000;
  }
  ::-moz-selection {
    color: orange;
    background: #000;
  }
}

@mixin selection_invisible {
  ::selection {
    color: inherit;
    background: initial;
  }
  ::-moz-selection {
    color: inherit;
    background: initial;
  }
}

@mixin placeholder {
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    text-align: left;
    // color:$color_main_text * 2.5; // this syntax is deprecated - use SASS functions
    color:#ddd;
    font-weight: $font-weight-normal;
    font-size: $font-size-default;
  }
  /* Firefox 18- */
  input:-moz-placeholder, textarea:-moz-placeholder { 
    text-align: left;
    //color:$color_main_text * 2.5; // this syntax is deprecated - use SASS functions
    color:#ddd;
    font-weight: $font-weight-normal;
    font-size: $font-size-default;
  }
  /* Firefox 19+ */
  input::-moz-placeholder, textarea::-moz-placeholder {
    text-align: left;
    // color:$color_main_text * 2.5; // this syntax is deprecated - use SASS functions
    color:#ddd;
    font-weight: $font-weight-normal;
    font-size: $font-size-default;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {  
    text-align: left;
    // color:$color_main_text * 2.5; // this syntax is deprecated - use SASS functions
    color:#ddd;
    font-weight: $font-weight-normal;
    font-size: $font-size-default;
  }
  input:focus::-webkit-input-placeholder {color: transparent}
  input:focus::-moz-placeholder          {color: transparent}
  input:focus:-moz-placeholder           {color: transparent}
  input:focus:-ms-input-placeholder      {color: transparent}
}

@mixin img {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: auto;
  height: auto;
}



/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */




// background cover

@mixin bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-fixed {
  background-attachment: fixed;
}

/*
@mixin bg-cover-x {
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
}
@mixin bg-cover-y {
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
}

@mixin bg-pattern {
  background-repeat: repeat;
}
*/



@mixin short-line ($clr) {
  @include div_default;
  box-sizing: content-box;
  width: 100%;
  max-width: 114px;
  border-style: none;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 2px;
  background-color: $clr;
}