.pre-customer-message {
  display: block;
  font-family: Helvetica, Arial, san-serif;
  font-size: 15px;
  font-weight: $font-weight-bold;
  margin: 20px auto;
  padding: 20px 0;
  white-space: normal;
  border-bottom: 1px dashed $color_primary_d;
  border-top: 1px dashed $color_primary_d;


  &:before {
    content: "Message: ";
    display: inline-block;
    background: $color_primary_d;
    color: #fff;
    padding: 2px 10px;
    margin: 0 10px 0 0;
  }
}

p {
  color: #7183a1;
  font-weight: $font-weight-normal;
  font-size: 20px;
  line-height: 28px;
  margin: 10px 0;
  padding: 0;
  @media only screen and (max-width: $width_xs) {
    font-size: 16px;
    line-height: 20px;
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }

  &~.h-simple {
    margin-top: 40px;
  }
}

.image-description {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  font-style: italic;

  &::before {
    content: "————————";
    color: inherit;
    display: block;
  }

  @media only screen and (max-width: $width_xs) {
    font-size: 13px;
    line-height: 16px;
  }
}


h4 {
  font-size: 20px;
  line-height: normal;
  font-weight: $font-weight-bold;
  color: #2c2f34;
  margin: 20px 0 5px;
  //padding: 25px 0 0;
  padding: 0;
  @media only screen and (max-width: $width_xs) {
    font-size: 16px;
  }

}
.row-section_dark {
  h4 {
    color: $color_primary_b;
  }
}

ul {
  font-size: 18px;
  padding: 0 0 0 40px;
  @media only screen and (max-width: $width_xs) {
    font-size: 15px;
    padding: 0 0 0 30px;
  }

  li {
    margin: 3px 0 6px;
  }
}

.ul-normal {
  font-size: 19px;
  // line-height: auto;
  margin: 0;
  padding: 0 0 0 40px;
  @media only screen and (max-width: $width_xs) {
    font-size: 15px;
    padding: 0 0 0 30px;
  }

  li {
    margin: 5px 0 10px;
  }
}

.ul-list {
  font-size: 20px;
  //line-height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 5px 0 10px;
  }
  @media only screen and (max-width: $width_xs) {
    font-size: 16px;
  }
}

.ul_green-dots {
  li {
    list-style-image: url($img_dir + "green-circle.svg");;
  }
}

.ul-extra {
  margin: 0 20px 0 0;
  padding: 0 30px 0 30px;
  font-size: 16px;
  //line-height: 26px;
  @media only screen and (max-width: $width_xs) {
    font-size: 15px;
    line-height: 20px;
  }

  li {
    margin: 5px 0 10px;
  }
}



.ul-nested {

  margin: 30px 0 50px;
  padding: 0;

  li {
    list-style-type: none;
    list-style-position: outside;
    color: $color_primary_a;
    font-weight: $font-weight-bold;
    margin-top: 30px;

    /*&:before {
      content: ">>";
    }*/

    ul {
      margin: 0 0 0 20px;
      padding: 0;
    }

    ul li {
      color: $color_primary_d;
      font-style: italic;
      margin: 8px 0 0;
    }

    ul li ul li {
      list-style-type: disc;
      font-style: normal;
      font-weight: $font-weight-normal;
      margin-left: 10px;

      /*&:before {
        content: "• ";
      }*/
    }

  }

}







._bold {
  font-weight: $font-weight-bold;
}
._normal {
  font-weight: $font-weight-normal;
}

._italic {
  font-style: italic;
}

._oblique {
  font-style: $font-style-default;
}

._sm {
  font-size: 12px;
}

._underline {
  text-decoration: underline;
}




h1 {

}

.h1-very-big {
  display: block;
  position: relative;
  margin: 20px 0 10px;
  // padding: 0;
  font-size: 72px; 
  font-weight: normal;
  color: #fff;
  @media only screen and (max-width: $width_md) {
    font-size: 48px;
  }
  @media only screen and (max-width: $width_xs) {
    font-size: 30px;
    font-weight: $font-weight-bold;
  }
}

.h-simple {
  display: block;
  margin: 0;
  margin: 0 0 20px;
  padding: 0;
  font-weight: $font-weight-normal;
  font-size: 36px;
  color: #2c2f34;
  @media only screen and (max-width: $width_xs) {
    font-size: 24px;
  }
}

.row-section_dark {
  .h-simple {
    color: #fff;
  }
}

/* .h1-compound */

.h1-compound {
  span {
    &:first-child {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      @media only screen and (max-width: $width_xs) {
        font-size: 18px;
      }
    }
    &:last-child {
      display: block;
      margin: 25px 0 20px;
      padding: 0;
      font-size: 36px;
      font-weight: $font-weight-bold;
      @media only screen and (max-width: $width_xs) {
        font-size: 24px;
        font-weight: $font-weight-normal;
        margin: 10px 0 20px;
      }
    }
  }
}

.h1-compound_dark {
  span {
    &:first-child {
      color: $color_primary_a;
    }
    &:last-child {
      color: $color_primary_e;
    }
  }
}

.h1-compound_light {
  span {
    &:first-child {
      color: $color_primary_b;
    }
    &:last-child {
      color: #fff;
    }
  }
}


.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}

