/* === FONTS === */

// $font-family-default: 'robotoregular', Arial, Helvetica, sans-serif;
$font-family-default: Arial, Helvetica, sans-serif;
$font-size-default: 16px;
$font-weight-default: normal;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-style-default: normal;

//$line-height-default:  auto;


/* === PATHS for CSS images and linked files === */

$img_dir: "/assets/themes/default/img/";


/* === SITE DIMENSIONS === */

/*
bootstrap grid values
576, 768, 992, 1140 [540, 720, 960, 1140]
*/

$width_lg: 1280px; // 1140px
$width_md: 992px;
$width_sm: 768px;
$width_xs: 576px;

$width_max_range: 1920px;
$width_content_range: $width_lg;







// PADDING
// $side_padding_both: 10px;


/* === TRANSITION TIME === */
$transition_time_short: .2s;
$transition_time_medium: .4s;
$transition_time_long: .8s;

$transition_delay_short: .2s;
$transition_delay_medium: .4s;
$transition_delay_long: .8s;




// COLORS

$color_primary_a: #36a5ec; // blue
$color_primary_b: #bbf74b; // light green
$color_primary_c: #2c2f34; // dark color, same as background
$color_primary_d: #7183a1; // 
$color_primary_e: #525c6c; // 

