.admin-icon {
  @include div_default;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  top: 2px;
  
  svg {
    @include div_default;
    width: 100%;
    height: 100%;
    fill: $color_primary_a;
  }
}

.rte-textarea {
  // @include div_default;
  max-width: 99%;
  width: 99%;
  min-width: 99%;
  min-height: 280px;
  font-size: 0.85em;
  font-family: monospace;
}