.breadcrumbs {
  @include div_default;

  background-color: #eef0f4;
  border-top: 1px solid #b8bbbf;
  height: auto;
  font-size: 14px;
  text-transform: capitalize;
  color: #2c2f34;
  padding: 8px 0;
  border-bottom: 4px solid $color_primary_a;

  .breadcrumbs__container {
    @include div_default;
    @include container($width_content_range);
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }


  a {

    &:first-child {
      padding-left: 25px;
      background-image: url($img_dir + "home.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }

    transition: color $transition_time_short;

    &:hover {
      color: $color_primary_a;
    }
    
    &:first-child {
      // color: $color_primary_a;
    }

    &:last-child {
      color: #51545a;
      // color: $color_primary_a;
      font-weight: $font-weight-bold;
      cursor: default;
    }
  }

  span {
    font-weight: $font-weight-bold;
    color: #51545a;
  }

  .breadcrumbs__separator {
    font-weight: $font-weight-normal;
    margin: 0 10px;;
    &:after {
      content: "›";
    }
  }

  @media (max-width: $width_sm) {
    display: none;
  }

}