.col-section {
  @include container($width_max_range);
  @include container(100%);
  background-color: inherit;
  padding-top: 80px;
  padding-bottom: 80px;

  p {
    color: #fff;
    font-weight: $font-weight-normal;
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
    padding: 0;
  }
}

.col-section__content-container {
  @include container(100%);
  margin: 0;
}

.col-section_25 {
  width: 25%;
  .col-section__content-container {
    // to do - calculate
    max-width: 250px;
  }
}
.col-section_33 {
  width: 33%;
  .col-section__content-container {
    // to do - calculate
    max-width: 300px;
  }
}
.col-section_50 {
  width: 50%;
  .col-section__content-container {
    max-width: 640px;
  }
}
.col-section_67 {
  width: 67%;
  .col-section__content-container {
    max-width: 960px;
  }
}
.col-section_75 {
  width: 75%;
  .col-section__content-container {
    max-width: 1120px;
  }
}
.col-section_100 {
  width: 100%;
  // to do - calculate
  .col-section__content-container {
    max-width: 1380px;
  }
}

.col-section_right {
  margin: 0  0 0 auto;
  text-align: left;
  .col-section__content-container {
    padding-left: 80px;
    padding-right: 20px;
  }
  .short-line-green {
    margin-left: 0;
    margin-right: auto;
  }
}

.col-section_left {
  margin: 0  auto 0 0;
  text-align: right;
  .col-section__content-container {
    padding-left: 20px;
    padding-right: 80px;
  }
  .short-line-green {
    margin-left: auto;
    margin-right: 0;
  }
}

