/* fabulous menu */

.fab-menu-open, .fab-menu-close {
  // this is abstract classes to identify elements via javascript only
}

.fab-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  .fab-menu__state-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
  }

  .fab-menu__screen-fader {
    background-color: transparent;
    display:block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: background-color $transition_time_short;
  }

  .fab-menu__close-button {
    display: block;
    position: absolute;
    left: 20px;
    top: 42px;
    width: 48px;
    height: 48px;
    background-image: url($img_dir + "close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    opacity: .5;
    transition: opacity $transition_time_short;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }

    @media only screen and (max-width: $width_xs) {
      left: 22px;
      top: 18px;
    }
  }

  .fab-menu__container {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    height: 100%;
    top: 0;
    left: -660px;
    //background-color: $color_primary_c;
    background-color: #242d3a;
    //color: #a5a5a5;
    color: #abadb1;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    font-size: 24px; // top level size
    box-shadow: 0 0 20px #000;
    //border: 1px dashed blue;
    //overflow: hidden;
    transition: left $transition_time_short;
    @media only screen and (max-width: $width_xs) {
      font-size: 20px;
    }
  }

  .fab-menu__content-scroller {
    @include div_default;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    //border: 1px dashed yellow;
  }

  .fab-menu__content-holder-outer {
    display: table;
    position: relative;
    box-sizing: border-box;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 20px 40px 90px;
    //border: 1px dashed red;
    @media only screen and (max-width: $width_xs) {
      padding: 30px 20px 20px 20px;
    }
  }

  .fab-menu__content-holder-inner {
    display: table-cell;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    //border: 1px dashed greenyellow;
  }

  .fab-menu__block {
    @include div_default;
    margin-top: 30px;
  }

  .fab-menu__category {
    @include div_default;
    margin: 0;
    font-size: inherit;

    .fab-menu__category-item {
      margin-top: 6px;
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 15px;
      }
    }

    a {
      transition: color $transition_time_short;
      &:hover {
        color: #fff;
      }
    }

    .fab-menu__category-items-container {
      //display: none;
      display: block;
      margin-left: 30px;
      height: auto;
      max-height: 0;
      transition: max-height $transition_time_medium;
    }

  }

  .fab-menu__category_open {
    // margin-top: 20px;
    // margin-bottom: 20px;
    .fab-menu__category-items-container {
      transition: max-height $transition_time_long;
      max-height: 500px;
    }
  }


  .fab-menu__category-items-container {
    @include div_default;
    font-size: 18px;
    text-transform: none;
    @media only screen and (max-width: $width_xs) {
      font-size: 16px;
    }
  }


  .fab-menu__img {
    @include div_default;
    width: 120px;
    height: 120px;
    margin:  40px 0 0 0;
    padding: 0;
    background-image: url($img_dir + "fab-menu-img-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    opacity: .075;
    @media only screen and (max-width: $width_xs) {
      display: none;
    }
  }

  .fab-menu__a-active {
    color: $color_primary_b;
    &:hover {
      color: $color_primary_b !important;
    }
  }


}

.fab-menu_open {
  display: block;
}



.fab-menu__state-container_open {
  .fab-menu__screen-fader {
    background-color: rgba(0,0,0,.9);
  }
  .fab-menu__container {
    left: 0;
  }
}