footer {
  @include div_default;
  margin: 0 auto !important;
  padding: 80px 0;
  background-color: $color_primary_c;

  .footer__container {
    @include div_default;
    @include display_flex;
    width: 100%;
    max-width: $width_content_range;
    margin: 0 auto;
  }

  .footer__box {
    flex-basis: 25%;
    @include div_default;
    padding: 0 10px;

    @media (max-width: $width_md) {
      display: none;

      &:first-child {
        @include div_default;
        padding: 0 10px;
        flex-basis: 100%;
        text-align: center;
      }
    }


  }

  /* === BOX-1 === */

  .footer__box-1-offset {
    @include div_default;
    margin-left: 30px;
    @media (max-width: $width_md) {
      margin-left: 0;
    }
  }

  .footer__plg {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 22px;
    font-weight: $font-weight-normal;
    //font-weight: $font-weight-bold;
  }

  .footer__address {
    margin: 15px 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: $font-weight-normal;
  }

  .footer__phone-p {
    color: #cdcdcd;

    .footer__phone-a {
      font-size: 18px;
      color: $color_primary_b;
      font-weight: $font-weight-normal;
      //font-weight: $font-weight-bold;
      transition: color $transition_time_short;
      &:hover {
        color: #fff;
      }
    }
  }


  .footer__email-p {
    color: #cdcdcd;
    .footer__email-a {
      font-size: 17px;
      &:hover {
        text-decoration: underline;
      }
    }
  }




  .footer__social-buttons {
    @include div_default;
    margin: 45px 0 20px;
    width: 100%;
  }

  .footer__social-buttons-container {
    @include div_default;
    display: flex;
    justify-content: left;
    // width: 160px;
    margin: 0;

    @media (max-width: $width_md) {
      margin: 0 auto;
      justify-content: center;
    }
  }

  .footer__social-btn {
    @include div_default;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    padding: 8px 0 0 8px;
    margin: 0 20px 0 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    transition: all $transition_time_short;

    &:last-child {
      margin: 0;
    }
  }


  .footer__social-btn_twitter {
    background-color: #57acef;
    background-image: url($img_dir + "twitter.svg");
    &:hover {
      background-color: #3d81b7;
    }
  }

  .footer__social-btn_googleplus {
    background-color: #f05669;
    background-image: url($img_dir + "googleplus.svg");
    &:hover {
      background-color: #cc3346;
    }
  }

  .footer__social-btn_linkedin {
    background-color: #027ab2;
    background-image: url($img_dir + "linkedin.svg");
    &:hover {
      background-color: #006696;
    }
  }

  .footer__logo {
    @include div_default;
    width: 100%;
    max-width: 296px;
    height: auto;
    margin: 30px 0 10px;
    padding: 0;

    @media (max-width: $width_md) {
      // max-width: 150px;
      // margin: 30px auto 10px;
      display: none;
    }
  }


  /* === BOX-2 === */

  .footer__big-links {
    @include div_default;
    text-transform: capitalize;
    margin-left: 50px;

    div {
      @include div_default;
      margin: 0 0 36px 0;
      a {
        font-size: 22px;
        //letter-spacing: 1px;
        //text-transform: uppercase;
        color: $color_primary_b;
        font-weight: $font-weight-normal;
        transition: all $transition_time_short;
        &:hover {
          //border-bottom: 1px solid $color_primary_b;
          //text-decoration: underline;
          color: #fff;
          margin-left: 6px;
        }
      }
    }
  }

  /* === BOX-3, BOX-4 === */

  .footer__links {
    @include div_default;
    color: #aeb2b9;
    font-size: 14px;
    text-transform: capitalize;

    li {
      @include div_default;
      margin: 0 0 10px;

      a {
        display: inline;
        transition: color $transition_time_short;

        &:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }


    .footer__links_header {
      @include div_default;
      margin: 30px 0 10px;
      font-size: 15px;
      color: $color_primary_b;
      font-weight: $font-weight-normal;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        color: $color_primary_b;
      }
    }
  }

}