.standard-form {
  @include div_default;
  margin: 0;

  label {
    display: block;
    font-size: 14px;
    padding: 0;
    margin-bottom: 6px;
  }

  .label-radio {
    display: inline-block;
    font-size: 16px;
    font-weight: $font-weight-normal;
  }

  /*input[type="text"], input[type="email"], input[type="password"] {
    border: 2px solid $color_primary_d;
    font-size: 18px;
    margin: 0;
    padding: 5px;
    color: $color_primary_d;
  }*/

  input[type=radio], input[type=checkbox] {
    margin: 5px 0 10px 10px;
  }
  
  input[type=text] {
    &:disabled {
      opacity: .2;
    }
  }


  .button-like {
    background-color: $color_primary_a;
    color: #fff;
    border-color: $color_primary_a;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: $color_primary_a;
      border-color: $color_primary_a;
    }
  }
}

.standard-form__field {
  box-sizing: border-box;
  border: 2px solid $color_primary_a;
  font-size: 18px;
  margin: 0;
  padding: 5px;
  color: $color_primary_e;
  min-width: 280px;
  width: 100%;
  max-width: 100%;
}

textarea {
  min-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}

.standard-form__field_error {
  border-color: red;
  //box-shadow: 0 0 20px rgba(255, 0, 0, .75);
}

.standard-form__field-wrapper {
  @include div_default;
  margin-top: 30px;
  margin-bottom: 30px;
  &:first-of-type {
    margin-top: 0;
  }
}

.standard-form__field-error-msg {
  p {
    @include div_default;
    font-size: 12px;
    margin-top: 6px;
    padding: 0;
    color: red;
  }

}