.glossary {

  .glossary-symbol {
    color: $color_primary_a;
    text-transform: uppercase;
    font-size: 48px;
    display: block;
    margin: 40px 0 10px;
    padding: 20px 0 0;
    @media only screen and (max-width: $width_xs) {
      font-size: 36px;
      margin: 30px 0 5px;
      padding: 20px 0 0;
    }
  }

  p {
    margin: 5px 0;
    line-height: normal;

  }

  ul, ol {
    margin: 5px 0 5px;
  }

  a {
    color: $color_primary_a !important;
    //color: $color_primary_d * 1.3 !important;
    // font-style: italic;
    // border-bottom: 1px dashed $color_primary_d * 1.4;
    border-bottom: 1px dashed $color_primary_a;
    text-decoration: none;
    transition: all $transition_time_short;
    &:hover {
      text-decoration: none;
      color: #222 !important;
      border-bottom-color: #444;
    }
  }
}




.glossary-symbols-collection {
  font-size: 36px;
  text-transform: uppercase;
  display: inline-block;

  @media only screen and (max-width: $width_xs) {
    font-size: 30px;
  }

  a {
    color: $color_primary_c !important;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    border-style: none;
    font-style: $font-style-default !important;

    &:hover {
      color: $color_primary_a !important;
    }
  }
}