$menustarter_btn_width: 52px;
$menustarter_btn_width_small: 40px;
$color_msb: #33445f;

.menustarter-btn, .backtotop-btn {
  position: fixed;
  display: block;
  margin: 0;
  padding: 0;
  width: $menustarter_btn_width;
  height: $menustarter_btn_width;
  border-radius: $menustarter_btn_width * 2;
  background-color: $color_msb;
  background-repeat: no-repeat;
  background-position: ( $menustarter_btn_width - 25px ) / 2;
  // box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  transition: top $transition-time-short $transition-delay-medium, bottom $transition-time-short $transition-delay-medium, left $transition-time-short $transition-delay-medium, right $transition-time-short $transition-delay-medium, background-color $transition-time-short;
  //transition: top $transition-time-short, bottom $transition-time-short, background-color $transition-time-short;
  cursor: pointer;

  @media only screen and (max-width: $width_xs), only screen and (max-device-width: $width_xs){
    width: $menustarter_btn_width_small;
    height: $menustarter_btn_width_small;
    background-position: ( $menustarter_btn_width_small - 24px ) / 2;
  }

  &:hover {
    background-color: $color_primary_a;
  }

}

.menustarter-btn {
  left: 18px;
  right: auto;
  top: 18px;
  bottom: auto;
  background-image: url($img_dir + "menu.svg");
  @media only screen and (max-width: $width_xs), only screen and (max-device-width: $width_xs){
    top: auto;
    bottom: 10px;
    left: auto;
    right: 10px;
  }
}

.backtotop-btn {
  top: $menustarter_btn_width + 24px;
  bottom: auto;
  left: 18px;
  right: auto;
  background-image: url($img_dir + "ic_arrow_upward_black_24px_white.svg");
  @media only screen and (max-width: $width_xs), only screen and (max-device-width: $width_xs){
    top: auto;
    bottom: $menustarter_btn_width + 4px;
    left: auto;
    right: 10px;
  }
}


.menustarter-btn_hidden {
  top: - $menustarter_btn_width - 10px;
  bottom: auto;
  @media only screen and (max-width: $width_xs), only screen and (max-device-width: $width_xs){
    top: auto;
    bottom: - $menustarter_btn_width - 10px;
    left: auto;
    right: 10px;
  }
}


.backtotop-btn_hidden {
  left: -10 - $menustarter_btn_width;
  right: auto;
  @media only screen and (max-width: $width_xs), only screen and (max-device-width: $width_xs){
    top: auto;
    bottom: $menustarter_btn_width + 4px;
    left: auto;
    right: - $menustarter_btn_width - 10px;
  }
}