.person-card {
  @include div_default;
  margin-top: 40px;
  @media only screen and (max-width: $width_xs) {
    margin-top: 20px;
  }

  img {
    display: block;
    position: relative;
    width: 150px;
    height: 200px;
    float: left;
    margin: 10px 30px 20px 0;
    padding: 0;
    @media only screen and (max-width: $width_xs) {
      width: 75px;
      height: 100px;
      margin: 10px 15px 10px 0;
    }

  }

  i {
    font-size: 18px;
    // color: $color_primary_d * 1.2;
    color: lighten($color_primary_d, 15%);
    @media only screen and (max-width: $width_xs) {
      font-size: 15px;
    }

  }

  .person-card__email {
    font-weight: $font-weight-normal;
    font-size: .8em;
  }

  .person-card__name {
    font-weight: bold;
    font-size: 21px;
    @media only screen and (max-width: $width_xs) {
      font-size: 17px;
    }
  }

}

.h-simple + .person-card {
  margin-top: 20px;
}

.person-card + .h-simple  {
  margin-top: 50px;
}