.row-section {
  @include container(100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: inherit;
}

.row-section_light {
  p {
    color: #7183a1;
  }

  .short-line {
    background-color: $color_primary_a;
  }

  .button-like {
    border-color: $color_primary_d;
    color: #fff;
    background-color: $color_primary_d;
    &:hover {
      color: #fff;
      background-color: $color_primary_a;
      border-color: $color_primary_a;
    }
  }

}

.row-section_dark {
  p {
    color: #fff;
  }

  .short-line {
    background-color: $color_primary_b;
  }

  .button-like {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    &:hover {
      color: #fff;
      border-color: #a5da42;
      background-color: #a5da42;
    }
  }

}


.row-section__bg-header {
  position: absolute;
  box-sizing: border-box;
  font-size: 72px;
  margin: 0;
  padding: 0;
  font-weight: $font-weight-normal;
  bottom: 70px;
  top: auto;
  color: #fff;
  max-width: 600px;

  @media only screen and (max-width: 1500px) {
    //font-size: 54px;
    font-size: 36px;
  }

  @media only screen and (max-width: $width_md) {
    position: relative;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    font-size: 54px;
    margin: 120px 80px 40px;
    text-align: left;
  }
  @media only screen and (max-width: $width_xs) {
    font-size: 36px;
    margin: 40px 20px 20px;
  }
}




/* === */

.row-section__bg {
  @include container(100%);
  @include bg-cover;
  background-color: inherit;
  height: inherit;
  padding: 0;
  color: #fff;
}

.row-section__bg_left {
  order: 1;
  text-align: right;

  .row-section__bg-header {
    left: auto;
    right: 80px;
  }

  @media only screen and (max-width: $width_md) {
    order: 1;

    .row-section__bg-header {
      left: 0;
      right: auto;
    }
  }

}
.row-section__bg_right {
  order: 2;
  text-align: left;

  .row-section__bg-header {
    left: 80px;
    right: auto;
  }

  @media only screen and (max-width: $width_md) {
    order: 1;

    .row-section__bg-header {
      left: 0;
      right: auto;
    }
  }
}

.row-section__bg_25 {
  flex-basis: 25%;
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}
.row-section__bg_33 {
  flex-basis: 33%;
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}
.row-section__bg_50 {
  flex-basis: 50%;
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}
.row-section__bg_67 {
  flex-basis: 67%;
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}
.row-section__bg_75 {
  flex-basis: 75%;
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}





/* === txt === */

.row-section__txt {
  @include container(100%);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: inherit;
  @media only screen and (max-width: $width_xs) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.row-section__content-container {
  @include container(100%);
}

.row-section__txt_25 {
  flex-basis: 25%;
  .row-section__content-container {
    max-width: 400px;
  }
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}

.row-section__txt_33 {
  flex-basis: 33%;
  .row-section__content-container {
    max-width: 480px;
  }
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}

.row-section__txt_50 {
  flex-basis: 50%;
  .row-section__content-container {
    max-width: 700px;
  }
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}

.row-section__txt_67 {
  flex-basis: 67%;
  .row-section__content-container {
    max-width: 1020px;
  }
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}

.row-section__txt_75 {
  flex-basis: 75%;
  .row-section__content-container {
    max-width: 1180px;
  }
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}

.row-section__txt_100 {
  flex-basis: 100%;
  .row-section__content-container {
    max-width: $width_lg !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
  }
}




.row-section__txt_left {
  text-align: right;
  order: 1;

  .row-section__content-container {
    margin: 0 0 0 auto;
    padding-left: 60px;
    padding-right: 80px;
  }

  .short-line {
    margin-left: auto;
    margin-right: 0;
  }

  @media only screen and (max-width: $width_md) {
    order: 2;
    text-align: left;

    .short-line {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.row-section__txt_right {
  text-align: left;
  order: 2;
  @media only screen and (max-width: $width_md) {
    order: 2;
  }

  .row-section__content-container {
    margin: 0 auto 0 0;
    padding-left: 80px;
    padding-right: 60px;
  }

  .short-line {
    margin-left: 0;
    margin-right: auto;
  }
}

.row-section__txt_center {
  text-align: center;
  order: 1;
  @media only screen and (max-width: $width_md) {
    order: 2;
  }


  .row-section__content-container {
    margin: 0 0 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .short-line {
    margin-left: auto;
    margin-right: auto;
  }
}


/* media */
@media only screen and (max-width: $width_md) {
  .row-section__content-container {
    max-width: 100% !important;
  }
}

/* media */
@media only screen and (max-width: $width_xs) {
  .row-section__txt_left, .row-section__txt_right {
    .row-section__content-container { 
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
/* --- */