.row-flex {
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @media only screen and (max-width: $width_md) {
    flex-direction: column;
  }
}

.row-flex__flex-1 {
  //flex: 1;
  //max-width: 50%;
  flex-basis: 50%;
  @media only screen and (max-width: $width_md) {
    flex-basis: 100%;
    //max-width: 100%;
  }
}
