.staff-card {
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  margin: 30px 0 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.staff-card__img-container {
  flex: 1;
  max-width: 140px;
  width: auto;

  img {
    @include div_default;
    width: 100%;
    max-width: 140px;
    height: auto;
  }
}



.staff-card__txt-container {
  flex: 2;

  h5 {
    font-size: 20px;
    color: $color_primary_a;
    font-weight: $font-weight-normal;
    margin: 0;
    padding: 0;

  }

  p {
    margin: 5px 0 2px;
    font-size: 16px;
    line-height: 20px;
    @media only screen and (max-width: $width_xs) {
      margin: 4px 0 2px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  mark {
    background: inherit;
    color: $color_primary_a;
  }
}

.staff-card__icons-panel {
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  margin: 12px 0 6px;
  padding: 0;
}

.staff-card__icon {
  display: block;
  position: relative;
  margin: 0 5px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &:hover {
    opacity: .75;
  }
}

.staff-card__icon_phone {
  background-image: url($img_dir + "phone_blue.svg");
}

.staff-card__icon_email {
  background-image: url($img_dir + "mail_outline_blue.svg");
}

.staff-card__icon-prone-number {
  display: block;
  margin: 4px 0 0 4px;
  color: $color_primary_a !important;
  font-weight: $font-weight-bold;
  width: 120px;
  height: 18px;
  max-width: 120px;
  overflow: hidden;
  transition: max-width $transition_time_short;
  &:hover {
    color: $color_primary_a;
  }
  
  @media (max-width: $width_xs) {
    font-size: 12px;
    margin-top: 6px;
    height: 14px;
  }
}

.staff-card__icon-prone-number_hidden {
  max-width: 0;
}



/* inheritance rules*/

.row-section__txt_left {
  .staff-card__img-container{
    order: 2;
  }
  .staff-card__txt-container {
    order:1;
    margin-left: 0;
    margin-right: 30px;
    @media only screen and (max-width: $width_xs) {
      margin-right: 15px;
    }
  }
  .staff-card__icons-panel {
    justify-content: flex-end;
  }
}

.row-section__txt_right {
  .staff-card__img-container{
    order:1;
  }
  .staff-card__txt-container {
    order:2;
    margin-left: 30px;
    margin-right: 0;
    @media only screen and (max-width: $width_xs) {
      margin-left: 15px;
    }
  }
  .staff-card__icons-panel {
    justify-content: flex-start;
  }
}