.tile-cards {
  display: flex;
  flex-direction: row;
  //justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media only screen and (max-width: $width_md) {
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}


.tile-cards__item {
  display: block;
  position: relative;
  flex: 1;
  max-width: 33.3333%;
  width: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: $width_md) {
    max-width: 100%;
  }
}

.tile-cards__img-holder {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 100%;
  //max-width: 640px;
  overflow: hidden;
  background-color: $color_primary_a;
  border-left: 20px solid $color_primary_a;
  @media only screen and (max-width: $width_md) {
    background-color: inherit;
    border-left-style: none;
  }
  
  img {
    display: block;
    box-sizing: border-box;
    width: auto;
  }
}

.tile-cards__img {
  display: block;
  box-sizing: border-box;
  position: relative;
  //margin: 0 auto 0 20px;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  @media only screen and (max-width: $width_max_range) {
    width: 640px;
  }
}

.tile-cards__txt-holder {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

  &:hover {
    .tile-cards__link {
      color: $color_primary_a;
    }
    .tile-cards__underliner {
      width: 114px;
    }
  }
}

.tile-cards__link {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 20px 0 10px 20px;
  padding: 0 20px 0 30px;
  width: auto;
  text-align: left;
  font-size: 19px;
  background-image: url($img_dir + "green-square.jpg");
  background-position-x: 0;
  background-position-y: 4px;
  background-repeat: no-repeat;
  transition: color $transition_time_short;

  @media only screen and (max-width: $width_md) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-image: none;
  }

  @media only screen and (max-width: $width_xs) {
    background-image: url($img_dir + "green-square.jpg");
    text-align: left;
    font-size: 16px;
    margin: 20px 0 10px 20px;
    padding: 0 20px 0 25px;
    background-position-y: 3px;
  }
}

.tile-cards__underliner {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 114px;
  width: 0;
  height: 2px;
  background-color: $color_primary_b;
  padding: 0;
  margin: 0 0 30px 50px;
  transition: width $transition_time_short;
  @media only screen and (max-width: $width_md) {
    margin: 0 auto 30px auto;
  }
  @media only screen and (max-width: $width_xs) {
    margin: 0 0 30px 45px;
  }
}