.tile-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media only screen and (max-width: $width_md) {
    flex-direction: column;
  }
}


.tile-menu__item {
  flex: 1;
  width: auto;
  display: block;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  //border-top: 4px solid $color_primary_a;
  font-size: 22px;
  
  @media only screen and (max-width: $width_md) {
    border-top: 1px solid #fff;
    font-size: 18px;
  }

  &:hover {
    .tile-menu__img-overlay {
      opacity: 0;
    }
    .tile-menu__txt-box-link {
      background-color: $color_primary_a; 
    }
    .tile-menu__txt-content {
      color: #fff;
    }
  }
}




.tile-menu__img {
  @include div_default;
  max-height: 400px;
  height: 400px;
  width: 100%;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // border-right: 1px solid rgba(255,255,255,.5);

  @media only screen and (max-width: $width_md) {
    display: none;
  }
}

.tile-menu__img_hblua {
  background-image: url($img_dir + "/pages/land-use-planning/tile-menu_hblua.jpg");
}
.tile-menu__img_pm {
  background-image: url($img_dir + "/pages/land-use-planning/tile-menu_pm.jpg");
}
.tile-menu__img_pc {
  background-image: url($img_dir + "/pages/land-use-planning/tile-menu_pc.jpg");
}
.tile-menu__img_pc2 {
  background-image: url($img_dir + "/pages/land-use-planning/tile-menu_pc2.jpg");
}
.tile-menu__img_ead {
  background-image: url($img_dir + "/pages/land-use-planning/tile-menu_ead.jpg");
}
.tile-menu__img_lda {
  background-image: url($img_dir + "/pages/land-use-planning/tile-menu_lda.jpg");
}
.tile-menu__img_s {
  background-image: url($img_dir + "/pages/land-use-planning/tile-menu_s.jpg");
}

/* tile menu environmental */

.tile-menu__img_environment_sediment-erosion-control {
  background-image: url($img_dir + "/pages/environment/tile-menu_sediment-erosion-control.jpg");
}
.tile-menu__img_environment_fish-wildlife-habitat-assessments {
  background-image: url($img_dir + "/pages/environment/tile-menu_fish-wildlife.jpg");
}
.tile-menu__img_environment_permits-and-approvals {
  background-image: url($img_dir + "/pages/environment/tile-menu_permits-and-approvals.jpg");
}
.tile-menu__img_environment_environmental-case-studies {
  background-image: url($img_dir + "/pages/environment/tile-menu_case-studies.jpg");
}
.tile-menu__img_environment_environmental-monitoring {
  background-image: url($img_dir + "/pages/environment/tile-menu_environmental-monitoring.jpg");
}
.tile-menu__img_environment_environmental-glossary {
  background-image: url($img_dir + "/pages/environment/tile-menu_environmental-glossary.jpg");
}

/* tile menu civil engineering */

.tile-menu__img_civil-engineering_engineeing-design {
  background-image: url($img_dir + "/pages/civil-engineering/tile-menu_engineering-design-and-construction.jpg");
}
.tile-menu__img_civil-engineering_construction-tendering {
  background-image: url($img_dir + "/pages/civil-engineering/tile-menu_construction-tendering.jpg");
}
.tile-menu__img_civil-engineering_feasibilities-studies {
  background-image: url($img_dir + "/pages/civil-engineering/tile-menu_feasibilities-studies.jpg");
}


.tile-menu__img-overlay {
  @include div_default;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: .25;
  transition: opacity $transition_time_short;
}

.tile-menu__img-link {
  @include div_default;
  position: absolute;
  width: 100%;
  height: 100%;
}

.tile-menu__txt-container {
  @include div_default;
  width: 100.5%;
  text-align: center !important;
  height: 64px;
  overflow: hidden;
}

.tile-menu__txt-box-link {
  display: table;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: $color_primary_c;
  transition: background-color $transition_time_short;
}

.tile-menu__txt-content {
  display: table-cell;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transition: color $transition_time_short;
}