.tnb-menu {
  @include div_default;
  width: 100%;
  background-color: #fff;
  color: $color_primary_c;
  border-top: 5px solid $color_primary_a;
  font-size: 18px;
  overflow: visible;

  @media(max-width:$width_lg) {
    font-size: 16px;
  }

  @media(max-width:$width_md) {
    font-size: 14px;
  }

  @media(max-width:$width_sm) {
    font-size: 12px;
    font-weight: $font-weight-bold;
  }

  @media(max-width:$width_xs) {
    display: none;
  }

  .tnb-menu__container {
    @include display_flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    //max-width: $width_max_range;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    //overflow: visible;

    a {
      @include div_default;
      display: table;
      width: 20%;
      height: 64px;
      //flex: 1;
      justify-content: center;
      flex-basis: 20%;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      transition: all $transition_time_short;
      overflow: visible;

      &:hover{
        background-color: $color_primary_a;
        color: #fff;
      }

      .tnb-menu__link-container {
        display: table-cell;
        vertical-align: middle;
        padding: 0 5px;
      }
      
      ul {
        @include div_default;
        background-color: orangered;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99999;
        
        .tnb-menu__a-2nd-lvl {
          
        }
            
      }

    }

    .tnb-menu__active-link {
      background-color: $color_primary_a;
      color: #fff;
    }

  }

}