.menu {
  border-top: 5px solid $color_primary_a;
  display:flex;
  position: relative;
  box-sizing: border-box;
  margin:0;
  padding:0;
  width: 100%;
  height: auto;

  * {
    box-sizing: border-box;
  }
  
  @media(max-width:$width_sm) {
    display: none;
  }

}

.menu__item {
  flex: 1;
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  // box-shadow: 0 0 10px rgba(0,0,0,.5);

  &:hover {
    .menu__ul-1 {
      z-index: 99999;
      visibility: visible;
      opacity: 1;
    }

    .menu__item-title {
      border-bottom: 1px solid rgba(255,255,255,.5);
      background-color: $color_primary_a;
      color: #fff;
    }
  }
}

.menu__item-title {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #444;
  background-color: #fff;
  color: $color_primary_c;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;

  &:hover {
    background-color: $color_primary_a;
  }

  a {
    display: block;
    position: relative;
    margin: 0;
    padding: 20px 10px;
    align-self: center;
    width: 100%;
    height: auto;
  }
}

.menu__ul-1 {
  display: block;
  visibility: collapse;
  transition: opacity .4s;
  opacity: 0;
  list-style: none;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: 100%;
  
  @media(max-width:$width_md) {
    display: none;
  }

  li {
    display: block;
    position: relative;
    margin: 0;
    border-bottom: 1px solid lighten($color_primary_a, 20%);
    width: auto;

    a {
      display: block;
      position: relative;
      padding: .75rem 1rem;
      margin: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      text-align: left;
      background-color: $color_primary_a;
      // white-space: nowrap;
      color: #eee;
      font-size: .95rem;

      &:hover {
        background-color: lighten($color_primary_a, 5%);
        color: #fff;
      }

    }

  }
}
