$tnb_top_height: 140px;
$tnb_top_height_small: 70px;

/* === BLOCKS === */

.tnb-top {
  @include div_default;
  background-color: $color_primary_c;
  width: 100%;
  height: $tnb_top_height;
  clear: both;
  transition: height $transition_time_short;
  
  @media (max-width: $width_md) {
    height: $tnb_top_height_small;
  }
}

.tnb-top__left-part {
  @include div_default;
  width: 40%;
  height: 100%;
  float: left;
  @media (max-width: $width_md) {
    width: 60%;
  }
  @media (max-width: $width_sm) {
    width: 70%;
  }
  @media (max-width: $width_xs) {
    width: 85%;
  }
}

.tnb-top__right-part {
  @include div_default;
  width: 60%;
  height: 100%;
  float: left;
  @media (max-width: $width_md) {
     width: 40%;
  }
  @media (max-width: $width_sm) {
     width: 30%;
  }
  @media (max-width: $width_xs) {
     width: 15%;
  }
}














/* === HAMBURGER MENU BUTTON === */

.tnb-top__menu-caller-container {
  @include div_default;
  // 50px;
  min-width: 75px;
  width: 20%;
  max-width: 20%;
  height: 100%;
  float: left;
  padding-left: 20px;
}

.tnb-top__menu-caller {
  width: 50px;
  height: 50px;
  margin: 34px 0 0;
  cursor: pointer;
  
  @media (max-width: $width_md) {
    margin-top: 8px;
  }
  

  svg {
    fill: #fff;
    margin-top: 3px;
    transition: all $transition_time_short;
  }

  &:hover {
    svg {
      fill: $color_primary_b;
    }
  }
}

.tnb-top__menu-caller-description {
  @include div_default;
  margin: 0 0 0 3px;
  color: #737373;
  font-size: 14px;
  text-align: left;
  
  @media (max-width: $width_md) {
    display: none;
  }
}



/* === LOGO === */

.tnb-top__logo {
  @include div_default;
  float: left;
  max-width: 570px;
  width: 75%;
  height: $tnb_top_height;
  background-image: url($img_dir + "plg_logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  
  @media (max-width: $width_md) {
    height: $tnb_top_height_small;
    width: 60%;
  }
  
}


















/* === LINKS === */

.tnb-top__links {
  @include div_default;
  float: right;
  height: 100%;
  padding: 56px 0 0 0;
  font-size: 21px;
  list-style: none;
  text-transform: capitalize;

  li {
    display: inline-block;
    margin: 0 35px 0 0;

    a {
      color: #a5a5a5;
      transition: color $transition_time_medium;
    }

    div {
      width: 0;
      height: 1px;
      margin: 6px auto;
      background-color: transparent;
      transition: all $transition_time_short;
      //background-image: url($img_dir + "menu_underliner.png");
      background-color: $color_primary_b;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
    }

    &:hover {
      div {
        width: 100%;
      }
      a {
        color: $color_primary_b;
      }
    }
  }

  .tnb-top__link-active {
    div {
      width: 100%;
    }
    a {
      color: $color_primary_b;
    }
  }
  
  
  @media (max-width: $width_lg) {
    li {
      font-size: 15px;
      margin: 0 10px 0 0;
    }
  }
  
  @media (max-width: $width_md) {
    display: none;
    li {
      font-size: 14px;
    }
  }

  @media (max-width: $width_sm) {
    //display:block;
    display:none;
    margin: 0 auto;
    padding: 30px 50px 0 0;
    text-align: center;
    
    li {
      display:list-item;
      font-size: 16px;
      color: red;
    }
  }

}




/* === PHONE === */

.tnb-top__phone-container {
  @include div_default;
  height: 100%;
  float: right;
  padding: 48px 30px 0 0;
  min-width: 230px;
  width: 30%;
  
  @media (max-width: $width_md) {
    padding: 20px 20px 0 0;
  }
  
}

.tnb-top__phone-icon {
  @include div_default;
  float: right;
  width: 40px;
  height: 40px;
  background-image: url($img_dir + "phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  @media (max-width: $width_md) {
    width: 30px;
    height: 30px;
  }
}

.tnb-top__phone {
  @include div_default;
  float: right;
  font-size: 24px;
  margin: 6px 0 0 10px;
  color: #fff;
  
  @media (max-width: $width_md) {
    font-size: 18px;
  }
  
  @media (max-width: $width_xs) {
    display: none;
  }
}