.video-container {
				@include div_default;
				margin: 20px auto;
				text-align: center;
				width: 100%;
				max-width: 560px;
				height: auto; // 640x360, 420x315
				background-color: #eee;
}

.video-content {
				@include div_default;
				display: block;
				width: 100%;
				height: 315px;
}